.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header h1 {
  color:black;
  border-bottom: 2px solid black;
  width:70%;
}
*{
  box-sizing: border-box;
}

/* .App h1 {
  text-align: center;
}
.app-card { 
  display:flex;
  justify-content: center;
  
}
.app-card img {
  width:150px;
  height:150px;
}
.submit {
  display:flex;
  align-items: center;

}
.submit img {
  border-radius: 50%;
  width:25px;
  height: 25px;
}
.app-card-append{
  margin-left:20px
}
.arrow {
  display:flex;
  align-items: center;
}
.arrow img {
  width: 10px;
  height: 10px;
} */
img {
  width:200px;
  
}
h1{
  text-align: center;
}
.item {
  display:flex;
  width:500px;
  margin:0;
  align-items: center;
  
}
.image {
  width:250px;
}
.footer {
  display:flex;
}
.footer img {
  width:25px;
  border: solid 1px black;
  border-radius: 50%;
}
.container {
  align-items: center;
  margin:auto;
  align-items: center;
}
.middle{
  margin-left:0;
}